.label {
    background: #f8f8f8;
    font-weight: 700;
    font-size: 0.8em;
    padding: 0.4em;
    display: inline-block;
    border-radius: 0.4em;
}

.learning-outcomes__item {
    padding: 0.2em 2.5em;
    margin-right: 1.5em;
    flex-grow: 1;
    border-radius: 1em;
    background: white;
    display: block;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #1f1f1f;
    font-size: 400;
    display: flex;
    margin: 1.5em 0;
};

