.label {
    font-weight: 800;
    color: #808a96;
    padding: 0.5em 0.5em;
    font-size: 1em;
}

.lecturers__lecturer-item {
    padding: 0.2em 2.5em;
    margin-right: 1.5em;
    margin-top: 1.5em;
    flex-grow: 1;
    border-radius: 1em;
    background: white;
    display: block;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #1f1f1f;
    font-size: 400;
    display: flex;
    text-align: center;
    justify-content: center;
};


