.input-container input {
    padding: 0.5em 1em;
    flex-grow: 1;
    border-radius: 0.5em;
    background: white;
    display: block;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #1f1f1f;
    font-size: 400;
    border: 1px solid transparent;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    font-family: 'Nunito', sans-serif;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.input-container input:focus,
.input-container input:active {
    outline: none;
    box-shadow: 0 5px 15px #fa5c2b;
}

.selection-input-container {
    flex: 1;
    margin: 24px!important;
}

.selection-input-container label,
.input-container label {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.7em;
    color: #fa5c2b;
    margin: 16px 0;
}

.input-container {
    position: relative;
    box-sizing: content-box;
    margin: 24px!important;
}

.selection-input-container select {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    border: none;
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.selection-input-container select::-ms-expand {
    display: none;
}
.selection-input-container select:hover {
    border-color: #888;
}
.selection-input-container select:focus {
    border-color: #aaa;
    box-shadow: 0 5px 15px #fa5c2b;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.selection-input-container select option {
    font-weight:normal;
}